body {
  background-color: #141414;

  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;

  width: 100%;
  height: 100%;
}
* {
  user-select: none;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  gap: 15px;

  width: 25%;
}

.title {
  color: white;
  font-size: 36px;
}

span {
  color: gray;
}

.error {
  color: red;
  font-weight: 400;
  text-align: center;
  width: 100%;
  overflow-wrap: break-word;
}

form {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.inputText {
  width: 100%;
  box-sizing: border-box;

  padding: 20px;
  border-radius: 6px;

  border-style: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  background: rgb(40,40,40);
  background-image: linear-gradient(90deg, rgb(55, 55, 55) 5%, rgb(42,42,42) 60%);

  color: white;
}

input[placeholder] {
  font-weight: 500;
}
 
input:focus {
  border: none;
  outline: none;
}

input[type="button"] {
  background: rgb(109, 0, 86);

  padding: 20px;
  border-radius: 6px;

  border: none;
  outline: none;

  color: rgba(255, 255, 255, 0.5);
  font-weight: 500;

  cursor: pointer;
}

.routeToRegister {
  display: flex;
  justify-content: right;
}
.switchRegister {
  color: white;
  font-weight: 500;
  font-size: 14px;

  cursor: pointer;

  width: fit-content;

  background: transparent;
  border: none;
  outline: none;
}

@media all and (max-width: 768px) {
  body {
    font-size: 14px;
  }
  .container {
    width: 50%;
    gap: 10px;
  }

  .title {
    font-size: 32px;
  }

  form {
    gap: 5px;
  }

  .inputText {
    padding: 16px;
    border-radius: 4px;
    font-size: 14px;
  }

  input[type="button"] {
    padding: 16px;
    border-radius: 4px;
  }

  .switchRegister {
    font-size: 12px;
    font-weight: 400;
  }
}

@media all and (min-width: 1900px) and (max-width: 2700px) {
  body {
    font-size: 18px;
  }

  .container {
    width: 25%;
    gap: 25px;
  }

  .title {
    font-size: 48px;
  }

  form {
    gap: 12.5px;
  }

  .inputText {
    padding: 24px;
    font-size: 18px;
    border-radius: 8px;
  }

  input[type="button"] {
    padding: 24px;
    border-radius: 8px;
    font-size: 18px;
  }

  .switchRegister {
    font-size: 16px;
    font-weight: 400;
  }
}

@media all and (min-width: 2701px) and (max-width: 3500px) {
  body {
    font-size: 24px;
  }

  .container {
    width: 25%;
    gap: 35px;
  }

  .title {
    font-size: 60px;
  }

  form {
    gap: 17.5px;
  }

  .inputText {
    padding: 32px;
    font-size: 24px;
    border-radius: 10px;
  }

  input[type="button"] {
    padding: 32px;
    border-radius: 10px;
    font-size: 24px;
  }

  .switchRegister {
    font-size: 20px;
    font-weight: 500;
  }
}


@media all and (min-width: 3501px) {
  body {
    font-size: 32px;
  }

  .container {
    width: 25%;
    gap: 40px;
  }

  .title {
    font-size: 72px;
  }

  form {
    gap: 20px;
  }

  .inputText {
    padding: 40px;
    font-size: 32px;
    border-radius: 14px;
  }

  input[type="button"] {
    padding: 40px;
    font-size: 32px;
    border-radius: 14px;
  }

  .switchRegister {
    font-size: 28px;
    font-weight: 500;
  }
}