.osnova, .img, .text, .snipper{
    position:absolute;
    user-select:none;
    background-attachment: fixed;
}

* {
    overflow: hidden;
}


.osnova {
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    position:absolute;
    transform: translate(-50%, -50%);
}


.img {
    top: 50%;
    left: 50%;
    background-size: cover;
    background-position: center;
    position:absolute;
    transform: translate(-50%, -50%);
}

.snipper {
    top: 46%;
    left: 0;
    background-size: cover;
    background-position: center;
    position:absolute;
    border-radius: 10px;
    transform: translate(-35%, -46%);
}


.text {
    top: 50%;
    left: 50%;
    background-size: cover;
    background-position: center;
    position:absolute;
    line-height: 1;
    font-weight: bold;
    font-size: 13px;
    color: brown;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transform: translate(-50%, -50%);
}