@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
* {
  font-family: "Rubik";
}

html {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  height: 100%;
  font-family: "Rubik";
}
html body {
  background: linear-gradient(151.19deg, rgba(173, 0, 255, 0.46) 0%, rgba(0, 0, 0, 0.26) 14.585%) no-repeat;
}
html .close {
  position: absolute;
  right: 3.39vw;
  top: 3.39vw;
  height: 3.07vw;
}

.block_tittle .tittle_block {
  margin-right: 1vw;
}
.block_tittle .tittle_block h1 {
  font-family: "Rubik";
  color: #fff;
  position: absolute;
  top: 3.6vw;
  left: 5.2vw;
  font-size: 2.3vw;
  display: inline-block;
  padding: 0;
  font-weight: 800;
}
.block_tittle .tittle_block h2 {
  position: absolute;
  top: 9.8vw;
  left: 5.3vw;
  font-size: 0.85vw;
  color: rgba(255, 255, 255, 0.5058823529);
  font-family: "Rubik";
  font-weight: 400;
  width: 24vw;
}
.block_tittle .tittle_block span {
  width: 0.1vw;
  height: 3.07vw;
  background-color: #fff;
  opacity: 35%;
  position: absolute;
  left: 16.41vw;
  top: 6.09vw;
}
.block_tittle .block_info_online {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5.68vw;
  margin-left: 17.34vw;
  margin-right: 1vw;
}
.block_tittle .block_info_online h1 {
  margin-bottom: -1vw;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.3764705882);
  font-size: 0.99vw;
}
.block_tittle .block_info_online h2 {
  font-size: 1.09vw;
  font-weight: 500;
  color: #ffffff;
}
.block_tittle .block_info_online .online_block {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 3.13vw;
}
.block_tittle .block_info_online .online_block img {
  border-radius: 0.26vw;
  -webkit-box-shadow: 0vw 0vw 2.6vw 0vw rgb(255, 184, 5);
          box-shadow: 0vw 0vw 2.6vw 0vw rgb(255, 184, 5);
  background-color: #FFB905;
  padding: 0.57vw;
  border-radius: 0.26vw;
  margin-right: 0.47vw;
  height: 1.04vw;
}
.block_tittle .block_info_online .totalplayers_block {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.block_tittle .block_info_online .totalplayers_block img {
  border-radius: 0.26vw;
  -webkit-box-shadow: 0vw 0vw 2.6vw 0vw rgba(192, 192, 192, 0.69);
          box-shadow: 0vw 0vw 2.6vw 0vw rgba(192, 192, 192, 0.69);
  background-color: #C0C0C0;
  padding: 0.57vw;
  border-radius: 0.26vw;
  margin-right: 0.47vw;
  height: 1.04vw;
}
.block_tittle .block_main .line {
  width: 42.45vw;
  height: 0.09vw;
  background: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0)), color-stop(50%, rgb(242, 242, 242)), to(rgba(196, 196, 196, 0)));
  background: linear-gradient(270deg, rgba(255, 255, 255, 0), rgb(242, 242, 242) 50%, rgba(196, 196, 196, 0) 100%);
  margin: 0.78vw auto;
}
.block_tittle .block_main .buttons_top {
  text-align: center;
  margin-top: 4.17vw;
}
.block_tittle .block_main .buttons_top button {
  border: none;
  outline: none;
  background: none;
  color: #fff;
  font-size: 0.94vw;
  font-weight: 400;
  margin-right: 2.34vw;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.block_tittle .block_main .buttons_top button:hover {
  color: rgba(255, 255, 255, 0.5137254902);
}
.block_tittle .block_main .players_tittle {
  width: 20.1vw;
  border-radius: 0.16vw;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(173, 0, 255, 0.4)), color-stop(50%, rgba(173, 0, 255, 0.69)), to(rgba(173, 0, 255, 0.4)));
  background: linear-gradient(180deg, rgba(173, 0, 255, 0.4), rgba(173, 0, 255, 0.69) 50%, rgba(173, 0, 255, 0.4) 100%);
  text-align: center;
  margin: auto;
  color: #fff;
  padding: 0.36vw 7.45vw 0.36vw;
  font-size: 0.78vw;
  margin-bottom: 1.04vw;
}
.block_tittle .block_main .players_list_wrap {
  overflow-y: scroll;
  height: 26.01vw;
  width: 37.51vw;
  position: absolute;
  left: 31.4%;
  z-index: 1;
}
.block_tittle .block_main .players_list_wrap::-webkit-scrollbar {
  width: 0.36vw;
}
.block_tittle .block_main .players_list_wrap::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.09);
  border-radius: 1.04vw;
}
.block_tittle .block_main .player_edit {
  display: none;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 999;
}
.block_tittle .block_main .player_edit .player_edit_wrapper {
  background-color: rgba(0, 0, 0, 0.2823529412);
  display: inline-block;
  padding: 1.04vw;
}
.block_tittle .block_main .player_edit .player_edit_wrapper button {
  width: 13.02vw;
  font-size: 0.83vw;
  margin-top: 0.16vw;
  border: none;
  outline: none;
  color: #fff;
  background-color: #9900ff;
  padding: 0.26vw;
}
.block_tittle .block_main .player_edit .player_edit_wrapper h1 {
  color: #fff;
}
.block_tittle .players_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0.78vw;
}
.block_tittle .players_list .list_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-backdrop-filter: blur(0.48vw);
          backdrop-filter: blur(0.48vw);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(97, 97, 97, 0.09)), color-stop(50%, rgba(97, 97, 97, 0.14)), to(rgba(97, 97, 97, 0.09)));
  background: linear-gradient(180deg, rgba(97, 97, 97, 0.09), rgba(97, 97, 97, 0.14) 50%, rgba(97, 97, 97, 0.09) 100%);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0.47vw;
  width: 35vw;
}
.block_tittle .players_list .list_block .right_menu_wrap {
  position: absolute;
  right: 1vw;
}
.block_tittle .players_list .list_block #img_edit {
  height: 1.3vw;
}
.block_tittle .players_list .list_block #online {
  margin-right: 2.14vw;
  height: 1.54vw;
  margin-left: 0.4vw;
}
.block_tittle .players_list .list_block .list_edit {
  border-radius: 0.1vw;
  -webkit-box-shadow: 0vw 0vw 1.13vw 0vw rgb(81, 255, 0);
          box-shadow: 0vw 0vw 1.13vw 0vw rgb(81, 255, 0);
  background: rgb(111, 241, 50);
  padding: 0.47vw;
}
.block_tittle .players_list .list_block .list_kick {
  margin-left: 0.3vw;
  border-radius: 0.1vw;
  -webkit-box-shadow: 0vw 0vw 1.13vw 0vw rgb(241, 50, 50);
          box-shadow: 0vw 0vw 1.13vw 0vw rgb(241, 50, 50);
  background: rgb(241, 50, 50);
  padding: 0.47vw;
}
.block_tittle .players_list .list_block .rank {
  margin-left: 2.02vw;
  color: rgba(255, 255, 255, 0.5254901961);
  font-size: 0.83vw;
}
.block_tittle .players_list .list_block .name {
  color: #fff;
  font-size: 0.83vw;
}
.block_tittle .property .money_reputation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.block_tittle .property .money_reputation p {
  color: #fff;
  font-weight: 500;
  border-radius: 0.16vw;
  -webkit-backdrop-filter: blur(0.48vw);
          backdrop-filter: blur(0.48vw);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(97, 97, 97, 0.09)), color-stop(50%, rgba(97, 97, 97, 0.14)), to(rgba(97, 97, 97, 0.09)));
  background: linear-gradient(180deg, rgba(97, 97, 97, 0.09), rgba(97, 97, 97, 0.14) 50%, rgba(97, 97, 97, 0.09) 100%);
  padding: 1.3vw 0 1.3vw 0.94vw;
  margin-right: 1.56vw;
  width: 20.42vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.83vw;
}
.block_tittle .property .money_reputation img {
  margin-left: 0.68vw;
  background-color: #C0C0C0;
}
.block_tittle .property .money_reputation .money_remove {
  background-color: #FF0000;
  padding: 0.68vw 0.26vw 0.68vw;
  height: 0.15vw;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 50px 0px #FF0000;
          box-shadow: 0px 0px 50px 0px #FF0000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.block_tittle .property .money_reputation .money_remove:hover {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.block_tittle .property .money_reputation .money_add {
  background-color: #33FF00;
  padding: 0.26vw 0.26vw 0.26vw;
  height: 0.99vw;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 50px 0px #33FF00;
          box-shadow: 0px 0px 50px 0px #33FF00;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.block_tittle .property .money_reputation .money_add:hover {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.block_tittle .property .money_reputation .reputation {
  text-shadow: rgb(255, 255, 255) 1px 0 10px;
}
.block_tittle .property .veh_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.block_tittle .property .veh_block .reputation {
  color: #fff;
  font-weight: 400;
  border-radius: 0.16vw;
  -webkit-backdrop-filter: blur(0.48vw);
          backdrop-filter: blur(0.48vw);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(97, 97, 97, 0.09)), color-stop(50%, rgba(97, 97, 97, 0.14)), to(rgba(97, 97, 97, 0.09)));
  background: linear-gradient(180deg, rgba(97, 97, 97, 0.09), rgba(97, 97, 97, 0.14) 50%, rgba(97, 97, 97, 0.09) 100%);
  padding: 1.3vw 0.94vw 1.3vw;
  margin-right: 1.56vw;
  width: 25.78vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.83vw;
}
.block_tittle .property .veh_block .reputation button {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.2117647059);
  border: none;
  outline: none;
  padding: 0.36vw 0.83vw 0.36vw;
  font-size: 0.68vw;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
  left: 21.2vw;
}
.block_tittle .property .veh_block .reputation button:hover {
  background-color: rgba(0, 0, 0, 0.4941176471);
}