@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
$w: #fff;
$f: 'Rubik';
html {
    user-select: none;
    height: 100%;
    body {
        background: linear-gradient(151.19deg, rgba(173, 0, 255, 0.46) 0%,rgba(0, 0, 0, 0.26) 14.585%) no-repeat;
    }
    & img {
        position: absolute;
        right: 3.39vw;
        top: 3.39vw;
        height: 3.07vw;
    }
}
.block_tittle {
    & h1 {
        font-family: $f;
        color: $w;
        position: absolute;
        top: 3.6vw;
        left: 5.2vw;
        font-size: 2.3vw;
        display: inline-block;
        padding: 0;
        font-weight: 800;
    }
    & h2 {
        position: absolute;
        top: 18.8vw;
        left: 5.2vw;
        font-size: 1.6vw;
        color: #fff;
        font-family: $f;
        font-weight: 400;
        width: 24vw;
    }
}
.buy_block {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 6vw;
    text-align: center;
    font-family: $f;
    font-weight: 400;
    & input {
        border: none;
        outline: none;
        backdrop-filter: blur(7.8px);
        background: rgba(29, 29, 29, 0.55);
        padding: 2.1vw 0.7vw 2.1vw 1.6vw;
        width: 27.6vw;
        font-size: 1.3vw;
        color: #fff;
        // display: flex;
    }
    .block_buy_buttons {
        margin-top: 0.99vw;
        & button {
            border: none;
            outline: none;
            font-family: $f;
            font-weight: 300;
            font-size: 0.95vw;
            color: #fff;
            padding: 0.83vw 2.3vw 0.83vw;
            margin: 0 0.47vw 0 0.47vw;
        }
        .buy_money {
            background-color: #4fff61;
        }
        .buy_dp {
            background-color: #FF4F4F;
        }
    }
}
